@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

/*! Global/Main styles */

:root {
  --orange: #ff7d1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  outline: 0;
}

.app {
  width: 100%;
  padding: 0 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
}

header .menu-side {
  display: flex;
  align-items: baseline;
  gap: 16px;
  margin-top: 8px;
}

header .cart-side {
  display: flex;
  align-items: baseline;
  gap: 22px;
  margin-top: 20px;
}

header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 31px;
  font-weight: 700;
  color: #000;
  letter-spacing: 1.24px;
}

header button.show-cart-btn:hover {
  filter: invert(0%) sepia(89%) saturate(7486%) hue-rotate(61deg) brightness(84%) contrast(100%);
}

/* Product Text Content */

.product-text {
  margin-block: 24px 27px;
}

strong.company-type {
  font-size: 12px;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  color: var(--orange);
}

h2.product-title {
  margin-top: 14px;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: #1d2025;
}

p.product-description {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.56px;
  color: #68707d;
}

/* Price */
.price-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.discount-container p.price-new {
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
  color: #1d2025;
}

.discount-container span.discount {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: var(--orange);
  background-color: #ffede0;
  border-radius: 5px;
  padding-inline: 10px 9px;
}

p.price-old {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.48px;
  color: #1d2025;
  text-decoration: line-through;
}

/* Buttons */
.cart-btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

button.btn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: var(--orange);
  border-radius: 10px;
  box-shadow: 0px 8px 10px 0px #ffede0;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 17px 77px;
  border: 0;
  cursor: pointer;
}

.product-counter {
  background-color: #f7f8fd;
  border-radius: 10px;

  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
}

span#decrease,
span#increase {
  cursor: pointer;
}

span#decrease {
  width: 12px;
  height: 4px;
  background-color: #ff7e1b;
}

span#counter {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.28px;
  color: #000;
}

/* Navigation Menu */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000bf;
  z-index: 2;
}

.nav-menu {
  width: 66%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;

  padding: 24px 0 0 25px;
  z-index: 3;
}

.nav-menu ul {
  margin-top: 53px;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 17px;
}

.nav-menu li {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.51px;
  color: #1d2025;
}

.close-menu-btn {
  border: none;
  background-color: transparent;
}

/* Cart Box */

.cart {
  width: calc(100% - 15px);
  max-width: 360px;
  position: absolute;
  top: 80px;
  right: 7px;
  z-index: 1;

  background-color: #fff;
  border-radius: 10px;
}

.cart-header {
  height: 69px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  border-bottom: 2px solid #f7f8fd;
}

.cart-header strong {
  font-size: 15px;
  font-weight: 700;
  line-height: 14px;
  color: #1d2025;
}

.cart-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 188px;
  padding: 24px;
}
.cart-message {
  font-size: 15px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0.6px;
  color: #68707d;
}

.cart-list {
  width: 100%;
  list-style: none;
  display: flex;
  align-self: baseline;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 28px;
}

.cart-item > img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.cart-item .item-text-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.item-text-content p.item-price {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  color: #000;
}

button.delete-product-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
